apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: visit-counter-hpa
  namespace: visit-counter
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: visit-counter
  minReplicas: 1
  maxReplicas: 3
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 50
